<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shianne.hellohealthy" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectItem"
            android:label="@string/title_activity_select_item" >
        </activity>
        <activity
            android:name=".ItemList"
            android:label="@string/title_activity_item_list"
            android:parentActivityName=".SelectItem" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shianne.hellohealthy.SelectItem" />
        </activity>
        <activity
            android:name=".ItemsHistory"
            android:label="@string/title_activity_items_history"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shianne.hellohealthy.MainActivity" />
        </activity>
        <activity
            android:name=".AddItemToList"
            android:label="@string/title_activity_add_item_to_list"
            android:parentActivityName=".SelectItem" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shianne.hellohealthy.SelectItem" />
        </activity>
        <activity
            android:name=".AddWeight"
            android:label="@string/title_activity_add_weight"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".WeightHistory"
            android:label="@string/title_activity_weight_history">
        </activity>
        <activity
            android:name=".AddGoal"
            android:label="@string/title_activity_add_goal"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".GoalsList"
            android:label="@string/title_activity_goals_list" >
        </activity>
        <activity
            android:name=".Tester"
            android:label="@string/title_activity_tester" >
        </activity>
        <activity
            android:name=".CompletedGoalsList"
            android:label="@string/title_activity_completed_goals_list"
            android:parentActivityName=".GoalsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shianne.hellohealthy.GoalsList" />
        </activity>
    </application>

</manifest>
